@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5EEE3; /* oat */
  --foreground: #3D3129; /* ink */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
